name: MySQL Periodic Updater
slug: mysql_periodic_updater
description: Runs a MySQL UPDATE query every 5 minutes
version: "1.0.0"
startup: application
boot: auto
arch:
  - amd64
  - aarch64

options:
  mysql:
    host: db.local
    port: 3306
    user: ha_user
    password: secret
    database: ha_db
  update:
    table: my_table
    id_column: id
    target_id: 123

schema:
  mysql:
    host: str
    port: int
    user: str
    password: password
    database: str
  update:
    table: str
    id_column: str
    target_id: int

map:
  - config:rw

log_level: info
