name: MySQL Periodic Updater
slug: mysql_periodic_updater
description: Runs a MySQL UPDATE query at a configurable interval
version: "1.2.0"
startup: application
boot: auto

arch:
  - amd64
  - aarch64

options:
  interval_seconds: 300
  test_connection: false

  mysql:
    host: db.local
    port: 3306
    user: ha_user
    password: secret
    database: ha_db

  statistics:
    sensor_name: sensor.dk_spi_z10345_energy_meter

schema:
  interval_seconds: int
  test_connection: bool

  mysql:
    host: str
    port: int
    user: str
    password: password
    database: str

  statistics:
    sensor_name: str

log_level: info
